table,
th,
td {
    border: 2px solid #111111;
    border-collapse: collapse;
    margin: auto;

}

table th {
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
}

table td {
    text-align: center;
    letter-spacing: 1px;
}

* {
    font-family: cursive;
  

}

#titulo {
    padding-block-end: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.body {
    margin-left: 300px;
    margin-right: 300px;
    
}

#pie {
    text-align: center;
    padding: 25px;

}

.lista {
    padding: 25px;
    background-color: rgb(0, 0, 0, 0.27);
}

img {
    margin: auto;
    padding: 10PX;
    float: right;
    margin-left: 50px;
}
